/* css for finops */
.finops-container {
  display: flex;
  justify-content: center;
}
.input-line {
  display: flex;
}
.title {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-size: 14px;
  font-weight: bold;
}
.recap-container {
  // width: 80%;
  margin: auto;
}
.af-restitution__listdef {
  &--win {
    dd {
      color: #fff;
      border-radius: 25px;
      background: green;
      flex-basis: 26%;
      text-align: center;
    }
  }
}
.af-restitution__listdef {
  &--lost {
    dd {
      color: #fff;
      border-radius: 25px;
      background: red;
      flex-basis: 26%;
      text-align: center;
    }
  }
}

.af-restitution__content-left {
  justify-content: center;
}
.region-table-container {
  display: flex;
  justify-content: center;
}
.af-table {
  &__cell {
    &--desc {
      min-width: 200px;
      display: flex;
      justify-content: space-between;
    }
  }
  &__cell:last-child {
    // color: green;
    font-size: 1rem;
    font-weight: bolder;
  }
}
.restitution_bloc {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.af-title--content {
  margin: 1rem 0 1.5rem 0;
}
